:root {
  --font-size: var(--body-text-base-size);
  font-family: var(--body-text-family);
  font-size: var(--body-text-base-size);
  color: var(--color-pale-blue);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--heading-text-family);
  font-size: var(--heading-text-size);
  letter-spacing: 3px;
  line-height: 1.3;
}
