---
import { Icon } from 'astro-icon/components'

import { PUBLIC_BMAC_URL } from "astro:env/client";

---

<section class="hero">
  <div class="inner">
    <h1 class="title">The 
      <span class="text-gradient">Southern Lights,</span> simplified.</h1>
      <div class="btn-container">
        <a href="/dashboard" class="btn">Show Me The Light!</a>
        <a href={PUBLIC_BMAC_URL} class="btn secondary" target="_blank" rel="noopener noreferrer">
         <Icon name="tabler:cup" />
          Caffeinate Me
        </a>
      </div>
  </div>
  <div class="aurora"></div>
</section>

<style>
.hero {
  padding: var(--spacing-sm);
  height: 90svh;
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  
  .inner {
    position: relative;
    z-index: 1;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    max-width: 90%;
    margin: 0 auto;
    
    h1 {
      font-size: var(--large-heading-font-size);
      text-shadow: 1px 1px 1px var(--background-color);
    }
    
    .btn-container {
      display: flex;
      gap: var(--spacing-xxl);
      flex-direction: column;
      
      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }
    
    @media ((min-width: 1024px)) {
      max-width: 1380px;
      padding: var(--spacing-lg);
      
    }
  }
  
  
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 110%;
    height: 40px;
    z-index: 2;
    background: var(--background-color);
    filter: blur(10px);
  }
  
  @media (min-width: 1024px) {
    padding: var(--spacing-xxl);
  }
}


.aurora {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(213, 48%, 13%, 1);
  background-image: radial-gradient(
      at 80% 100%,
      hsla(312, 84%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(131, 67%, 62%, 1) 0px, transparent 50%);

  filter: blur(100px);

  @media (prefers-reduced-motion: no-preference) {
    animation: auroraAnimation 10s ease-in-out infinite alternate;
  }
}

@keyframes auroraAnimation {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(5) rotate(15deg);
  }
}

</style>