---
import Layout from '../layouts/Layout.astro';
import '../styles/styles.css'

import Hero from '../components/hero/Hero.astro'
import Benefits from '../components/benefits/Benefits.astro';
import Faq from '../components/faq/Faq.astro';
---

<Layout title="The Southern Lights. Simplified.">
	<main>
		<Hero />
		<Benefits />
		<Faq />
	</main>
</Layout>

