:root {
  --body-text-family: "lexend", sans-serif;
  --body-text-base-size: 18px;
  --body-text-color: var(--color-pale-blue);

  --heading-text-family: "baskerville", serif;
  --heading-text-color: var(--color-pale-blue);
  --heading-text-size: 48px;
}
