---
---
<section class="benefits">
    <div class="container">
        <h2>Not like the other space weather resources</h2>
        <p>
            Built for Aurora Australis, and in this century. Stripped back to the basics so you aren't stuck trying to figure out wtf nanotesla is.
        </p>
    </div>
</section>